<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>orderCancelled</servlet-name>
        <url-pattern>/orderCancelled</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/about.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>orderConfirmation</servlet-name>
        <servlet-class>orderConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderCancelled</servlet-name>
        <servlet-class>orderCancelled</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderConfirmation</servlet-name>
        <url-pattern>/orderConfirmation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>products</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
</web-app>
